<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="student1" class="com.beanfactory.poc.model.Student" scope="singleton">
		<property name="name" value="Pavan" />
		<property name="age" value="16" />
		<property name="score" value="98" />
	</bean>

	<bean id="student2" class="com.beanfactory.poc.model.Student" scope="prototype">
		<constructor-arg value="John Doe" />
		<constructor-arg value="20" type="int" />
		<constructor-arg value="80" type="int" />
	</bean>
</beans>
