<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="employee1" class="com.applicationcontext.poc.model.Employee" scope="singleton">
        <property name="name" value="Pavan" />
        <property name="employeeId" value="214" />
        <property name="role" value="Associate Software Engineering" />
    </bean>

    <bean id="employee2" class="com.applicationcontext.poc.model.Employee" scope="prototype">
        <constructor-arg value="John Doe" />
        <constructor-arg value="218" type="int" />
        <constructor-arg value="Software Engineering" />
    </bean>

    <context:component-scan base-package="com.applicationcontext.poc.model" />
</beans>