<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="myCar" class="com.filesystemxmlapplicationcontext.poc.model.Car">
    <constructor-arg value="Honda" />  <constructor-arg value="Civic" />  <constructor-arg value="2020" type="int" />  <constructor-arg value="Red" />  </bean>

</beans>
